@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap");

.jumbotron,
.card-body,
.container,
.site-header {
  font-family: "Verdana", serif !important;
}

.jumbotron .display-4 {
  font-weight: bold;
}

nav a {
  text-decoration: none;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.jumbotron {
  height: 50vh;
  padding: 5em inherit;
  margin-bottom: 0;
  background-color: #53c0fb;
  background: url("../img/cover_back.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: black;
  font-weight: bold;
}

@media (min-width: 768px) {
  .jumbotron {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  text-shadow: 1px 1px 2px grey;
}

.jumbotron .lead {
  font-size: 38px;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: 0.25rem;
}

.site-header a {
  color: white;
  transition: ease-in-out color 0.15s;
}

.site-header .dropdown-menu a {
  color: black;
}

.dropzone {
  border: 2px dashed #0087f7;
  border-radius: 5px;
  background: white;
}

.img-fit {
  max-height: 100%;
}

.alert {
  position: fixed;
  padding: 40px; /* Padding agregado */
  top: 120px; /* top modificado, original 80px */
  width: 50%;
  left: 50%;
  transform: translate(-50%, 0);
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
  top: 50%;
  left: 50%;
}

.cursor-active {
  cursor: pointer;
}

.left {
  float: left;
  padding: 4px;
  background-color: rgba(255, 255, 255, 0.5);
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 51px;
  height: 51px;
  margin: 6px;
  border: 6px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

#spinner-wrapper {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1021;
  display: none;
}

main {
  min-height: calc(100vh - 210px);
}

a.custom-card,
a.custom-card:hover {
  color: inherit;
  text-decoration: inherit;
}

.checked {
  color: orange;
}

/* LOGIN */

.estilologin {
  background-image: url("../img/fondo_login_para_responsive.jpg");
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center; 
  align-items: center;
}
.login .logo {
  width: 40%;
  margin-bottom: 50px;
}
.login {
  width: 30%;
  align-items: center;
  text-align: center;
  margin: 5px auto;
  background: #000000dc;
  backdrop-filter: blur(2px);
  padding: 40px;
  min-width: 400px;
  max-width: 600px;
  border-radius: 40px;
  display: flex;
  flex-direction: column;
}

#socialSesion{
  margin-top: 20px;
  color: white;
}
#sectionImg {
  width: 60%;
  text-align: center;
} 

#iniciosesion {
  min-width: 300px;
  max-width: 600px;
  margin-bottom: 60px;
  color: white;
  font-family: 'Montserrat', sans-serif;
}
input {
  background: none;
}
.input-bx {
  position: relative;
  width: 70%;
  margin-top: 40px;
  /* margin-left: 46px; */
  padding-bottom: 10px;
  margin-left: 15%;
}
.input-bx input {
  width: 100%;
  padding: 10px;
  border: 2px solid #9d4edd;
  border-radius: 20px;
  outline: none;
  font-size: 1rem;
  transition: 0.6s;
  box-shadow:0px 0px 4px #9d4edd;
}

.input-bx span {
  position: absolute;
  left: 0;
  padding: 10px;
  font-size: 1rem;
  color: #7f8fa6;
  text-transform: uppercase;
  pointer-events: none;
  transition: 0.6s;
}
.input-bx input:valid ~ span,
.input-bx input:focus ~ span {
  color: #f5f5f5;
  transform: translateX(10px) translateY(-7px);
  font-size: 0.65rem;
  font-weight: 600;
  padding: 0 10px;
  background: #000000;
  letter-spacing: 0.1rem;
}

.input-bx input:valid,
.input-bx input:focus {
  color: #fcfcfc;
  border: 2px solid #ffffff;
}

span {
  /* margin-left: 10px; */
  margin-top: 2px;
  font-family: 'Montserrat', sans-serif;
}

.login a {
  font-size: 13px;
  text-decoration: none;
  color: rgb(255, 255, 255);
  transition: 0.6s;

}

.login a:hover {
  color: #9d4edd;
  font-size: 14px;
  transition-duration: 200ms;
}

#login {
  background-color: #b05ff1;
  color: #3c096c;
  margin-top: 5px;
  text-align: center;
  border-color: #00000000;
  border-radius: 20px;
  width: 50%;
  margin-top: 20px;
  padding: 5px;
  transition: 0.6s;
}

#login:hover {
  background-color: #9d4edd;
  color: #101012;
  box-shadow: 0px 0px 10px #7b2cbf;
  font-size: 18px;
  transition-duration: 400ms;

}



.socialImg {
  width: 30px;
  margin-right: 8px;
  display: inline-block;
  position:relative;
  transition: all 300ms;
}
.socialImg img{
  transition: transform 0.3s ease-in-out;
}


.socialImg:hover {
  cursor: pointer;
  transform: scale(1.1);
  filter:drop-shadow(0px 0px 5px #E0aaff)
}


/* LISTAS DE PRODUCTOS*/
.titulo {
  min-width: 200px;
  max-width: 400px;
  width: 100%;
  justify-content: center ;
  margin: auto;
  display: flex;
  font-family: 'Montserrat', sans-serif;
  padding-top: 40px;
  color: #ffffff;
  text-shadow: 0px  0px 50px #551794;
  border-bottom: solid 5px #E0aaff;
}
.punto{
  color: #E0aaff;
}
.subtitulo{
  font-family: 'Montserrat', sans-serif;
  display: block;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  color:#ffffff;
  font-size: 15px;
}

  #bodyproducts{
  background-image: url("../img/fondo_login_para_responsive.jpg");
  background-color: #101012;
} 

.fondolista {
    max-width: 250px;
    margin-top: 40px;
    color: #ffffff;
    border: solid 0.5px #551794;
    transition: 0.6s;
}

.description{
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 10px;
}
.nombreproductos {
  font-family: 'Montserrat', sans-serif;
  font-size: 28px;
  margin: 5px auto;
  text-align: center;
}

.fondolista img {
  width: 100%;
  height: auto; 
  padding: 10px;
}

.fondolista:hover {
  box-shadow: 0px 0px 20px #551794;
  transform: scale(1.05);
}

#productos {
  display: flex;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(150px,1fr));
  gap: 32px;
  flex-wrap: wrap;
  justify-content: center;
  border-radius: 0px;
}

.nombreproductos,
.precio {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  margin-top: 10px;
  text-align: center;
  padding: 10px;
  
}
.precio{
  font-weight: bold;
  color: #E0aaff;
}
@media (max-width: 768px) {
  .fondolista {
    max-width: 100%;
    height: auto; 
} }

.vendidos {
  font-size: 15px;
  text-align: center;
  margin-top: 0; 
}

#filtroPrecios{

  width: 100%;
  display: block;
  text-align: center;
  /* display: flex;
  justify-content: center; /* Centra horizontalmente
  align-items: center; Centra verticalmente */
}
.barraprecio {
  margin-bottom: 10px;
  /* width: 45%;
  display: flex;
  align-items: center;
  justify-content: flex-end; */
}
.busquedaprecio{
  outline: none;
  color: white;
  border: none;
  text-align: center;
  border: solid white 1px;
  border-radius: 10px;
  width: 150px;
}
.limpiarfiltrar{
  color: #000000;
  outline: none;
  border:1px solid #E0aaff;
  border-radius: 10px;
  background-color: #E0aaff;
}
.limpiarfiltrar:hover{
  box-shadow:0px 0px 10px #3c096c;
}
#filtros {
  display: block;
  text-align: center;
  /* justify-content: center; */
  /* align-items: center;
  width: 100%; */
  margin-top: 55px;
  font-family: 'Montserrat', sans-serif;
}

#filtrosOrden {
  margin-bottom: 10px;
}

#noEncontrado{
  color: white;
  text-align: center;
  font-size: xx-large;
  overflow: visible;
}
.botonesorden{
  border: 1px solid white;
  padding: 5px;
  color: white;
  border-radius: 10px;
}
.botonesorden:hover{
  color: #E0aaff;
  border-color: #E0aaff;
  box-shadow:0px 0px 10px #3c096c;
}

.mainproductos{
  max-width: 2000px;
  min-width: 300px;
  margin: auto;
  width: 60%;
  justify-content: center;
  background-color: #101012;
  box-shadow: 0px 0px 30px #000000 ;
}


/* Barra de navegación */



#nombreusuario {
  display: inline-flex;
  padding: 10px 20px;
  background-color: #9d4edd;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  line-height: 1;
  justify-content: center;
  align-items: center;
}


.inicio {
  padding: 10px 30px;
  background-color: #101012;
  color: #4c1297;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
  display: block;
  text-align: center;
}

.general img {
  width: 80px;
  position: relative;
}

.inicio a {
  color: white;
}

#cerrarSesion:hover {
  color: #db71db;
  transition: 400ms;
}

.posicion {
  display: flex;
  margin: auto;
}

.general {
  background-color: #101012;
  color: white;
  display: block;
  position: sticky;
  top: 0px;
  z-index: 10;
  border-bottom: 1px solid #E0aaff;
  justify-content: space-between;
  align-items: center;
}

#sectionNav {
  display: flex;
  width: 69%;
    margin: 0px auto;
}


#cerrarSesion {
  background-color: transparent;
  border: none;
  color: white;
  cursor: pointer;
}

a:hover {
  color: #db71db;
  transform: scale(1.05);
  transition: 200ms;
}

.list ul {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}
#formBusqueda {
  display: flex;
  font-family: 'Montserrat', sans-serif;
  color: white;
  padding: 10px;
  width: 100%;
}

#campoBusqueda {
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 40px;
  color: white;
  outline: none;
  margin: auto;
  transition: width 0.5s;
  width: 100%;
  max-width: 600px; /* Aumenta el ancho máximo del campo de búsqueda según tus preferencias */
}
@media screen and (max-width: 768px) {
  #campoBusqueda {
    width: 80%; /* Ajusta el ancho en pantallas pequeñas según tus preferencias */
  }
}

.menu-button {
  background-color: transparent;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 24px;
  padding: 10px 20px;
  display: none;
}

.list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Media query para pantallas más pequeñas */
@media (max-width: 768px) {
  .list ul {
    display: grid;
    align-items: center;
    margin: 0;
    padding: 0;
  }

  .list {
    display: none;
    /* opacity: 0;
    transition: opacity 0.3s ease-in-out; Transición de opacidad  */
  }

  .menu-button {
    display: block; /* Muestra el botón de menú en pantallas pequeñas */
  }

  /* Estilos para mostrar la lista cuando se hace clic en el botón de menú */
  .list.show {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 67px;
    right: 0px;
    background-color: #101012;
    z-index: 2;
    opacity: 1; /* Cambia la opacidad a 1 para mostrar la lista */
    transition: opacity 0.3s ease-in-out; /* Transición de opacidad */
  }
}
